.box2 {
    display: inline-block;
    width: 35%;
    height: 30px;
    background-color: blue;

}
.box {
    background-color: blue;

}
.box p {
    display: inline-block;
    background-color: inherit;
    width: 33%;
    height: 30px;

}
.YuorHeadline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    color: lawngreen;
    text-transform: uppercase;

}
.image {
    height: 100px;
    width: 100px;
    display: block;

}
.coupon {
    height: 100px;
    width: 100px;
    display: block;
}